body{
	font-family: $__body__font__family;
	font-size:$__body__font__size;
	color:$__darkllight__gray;
	background-color:$__nightbg;
	overflow-x: $__hidden;
}
.container{
	width:$__full__width;
	max-width:$__container__width;
	padding-left:$__grid__padding__left;
	padding-right:$__grid__padding__right;
	margin:$__margin__auto;
}
img {
	max-width:$__full__width;
	height: $__auto;
	vertical-align: $__middle;
}
a{
	text-decoration: $__none;
    outline: $__none;
	color:$__sky__blue;
	cursor: $__pointer;
	@include transition(all 0.2s ease);
	&:hover{
		@include transition(all 0.2s ease);
	}
	&:focus {
		outline: 0;
	}
}
p{
	margin-bottom:1rem;
}
strong{
	font-weight: $__bold;
}
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar, .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
  background: #16191c;
  border-color: #2e3439;
}
.ck.ck-button.ck-on:not(.ck-disabled):active, a.ck.ck-button.ck-on:not(.ck-disabled):active {
    background: transparent !important;
    box-shadow: inherit;
    border-color: #2e3439;
}
.ck-rounded-corners .ck.ck-dropdown .ck-dropdown__panel .ck-list, .ck.ck-dropdown .ck-dropdown__panel .ck-list.ck-rounded-corners {
	background: #16191c;
}
.ck.ck-list__item .ck-button .ck-button__label {
    color: #b6bcc5;
}
.ck.ck-button.ck-on, a.ck.ck-button.ck-on {
    background: transparent !important;
}
.ck.ck-button:not(.ck-disabled):hover, a.ck.ck-button:not(.ck-disabled):hover {
  background: transparent !important;
  border-color: #2e3439;
}
.ck.ck-icon, .ck.ck-icon * {
  filter: invert(0) brightness(100);
}
.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  background: #16191c;
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  background: #16191c;
  border-color: #2e3439 !important;
}
.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label {
    width: 8em;
    color: #fff;
}