<!DOCTYPE html>
<!--LOAD -->
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Aptitude - HRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="assets/css/line-awesome.min.css">

		<!-- Datatable CSS -->
		<link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="assets/css/select2.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="{% url 'admin_dashboard' %}" class="logo">
						<img src="assets/img/logo.png" width="40" height="40" alt="">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<h3>Dreamguy's Technologies</h3>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item">
						<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
						   </a>
							<form action="{% url 'search' %}">
								<input class="form-control" type="text" placeholder="Search here">
								<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
							<img src="assets/img/flags/us.png" alt="" height="20"> <span>English</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/flags/us.png" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/flags/fr.png" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/flags/es.png" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="assets/img/flags/de.png" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					<!-- Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="fa fa-bell-o"></i> <span class="badge rounded-pill">3</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="{% url 'activities' %}">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'activities' %}">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="assets/img/profiles/avatar-03.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'activities' %}">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="assets/img/profiles/avatar-06.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'activities' %}">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="assets/img/profiles/avatar-17.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'activities' %}">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="assets/img/profiles/avatar-13.jpg">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
													<p class="noti-time"><span class="notification-time">2 days ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="{% url 'activities' %}">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<!-- Message Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="fa fa-comment-o"></i> <span class="badge rounded-pill">8</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Messages</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="{% url 'chat' %}">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="assets/img/profiles/avatar-09.jpg">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Richard Miles </span>
													<span class="message-time">12:28 AM</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'chat' %}">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="assets/img/profiles/avatar-02.jpg">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">John Doe</span>
													<span class="message-time">6 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'chat' %}">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="assets/img/profiles/avatar-03.jpg">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Tarah Shropshire </span>
													<span class="message-time">5 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'chat' %}">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="assets/img/profiles/avatar-05.jpg">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Mike Litorus</span>
													<span class="message-time">3 Mar</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="{% url 'chat' %}">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="assets/img/profiles/avatar-08.jpg">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author"> Catherine Manseau </span>
													<span class="message-time">27 Feb</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="{% url 'chat' %}">View all Messages</a>
							</div>
						</div>
					</li>
					<!-- /Message Notifications -->

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<span class="user-img"><img src="assets/img/profiles/avatar-21.jpg" alt="">
							<span class="status online"></span></span>
							<span>Admin</span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
							<a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
							<a class="dropdown-item" href="{% url 'home' %}">Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
						<a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
						<a class="dropdown-item" href="{% url 'home' %}">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
									<li><a href="{% url 'employee_dashboard' %}">Employee Dashboard</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-cube"></i> <span> Apps</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'chat' %}">Chat</a></li>
									<li class="submenu">
										<a href="#"><span> Calls</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="{% url 'voice_call' %}">Voice Call</a></li>
											<li><a href="{% url 'video_call' %}">Video Call</a></li>
											<li><a href="{% url 'outgoing_call' %}">Outgoing Call</a></li>
											<li><a href="{% url 'incoming_call' %}">Incoming Call</a></li>
										</ul>
									</li>
									<li><a href="{% url 'events' %}">Calendar</a></li>
									<li><a href="{% url 'contacts' %}">Contacts</a></li>
									<li><a href="{% url 'inbox' %}">Email</a></li>
									<li><a href="{% url 'file_manager' %}">File Manager</a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Employees</span>
							</li>
							<li class="submenu">
								<a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'employees' %}">All Employees</a></li>
									<li><a href="{% url 'holidays' %}">Holidays</a></li>
									<li><a href="{% url 'leaves' %}">Leaves (Admin) <span class="badge rounded-pill bg-primary float-end">1</span></a></li>
									<li><a href="{% url 'leaves_employee' %}">Leaves (Employee)</a></li>
									<li><a href="{% url 'leave_settings' %}">Leave Settings</a></li>
									<li><a href="{% url 'attendance' %}">Attendance (Admin)</a></li>
									<li><a href="{% url 'attendance_employee' %}">Attendance (Employee)</a></li>
									<li><a href="{% url 'departments' %}">Departments</a></li>
									<li><a href="{% url 'designations' %}">Designations</a></li>
									<li><a href="{% url 'timesheet' %}">Timesheet</a></li>
									<li><a href="{% url 'shift_scheduling' %}">Shift & Schedule</a></li>
									<li><a href="{% url 'overtime' %}">Overtime</a></li>
								</ul>
							</li>
							<li> 
								<a href="{% url 'clients' %}"><i class="la la-users"></i> <span>Clients</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'projects' %}">Projects</a></li>
									<li><a href="{% url 'tasks' %}">Tasks</a></li>
									<li><a href="{% url 'task_board' %}">Task Board</a></li>
								</ul>
							</li>
							<li> 
								<a href="{% url 'leads' %}"><i class="la la-user-secret"></i> <span>Leads</span></a>
							</li>
							<li> 
								<a href="{% url 'tickets' %}ets' %}"><i class="la la-ticket"></i> <span>Tickets</span></a>
							</li>
							<li class="menu-title"> 
								<span>HR</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-files-o"></i> <span> Sales </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'estimates' %}">Estimates</a></li>
									<li><a href="{% url 'invoices' %}">Invoices</a></li>
									<li><a href="{% url 'payments' %}">Payments</a></li>
									<li><a href="{% url 'expenses' %}">Expenses</a></li>
									<li><a href="{% url 'provident_fund' %}">Provident Fund</a></li>
									<li><a href="{% url 'taxes' %}">Taxes</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-files-o"></i> <span> Accounting </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'categories' %}">Categories</a></li>
									<li><a href="budgets.html">Budgets</a></li>
									<li><a href="{% url 'budget_expenses' %}">Budget Expenses</a></li>
									<li><a href="budget-revenues.html">Budget Revenues</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'salary' %}"> Employee Salary </a></li>
									<li><a href="{% url 'salary_view' %}"> Payslip </a></li>
									<li><a href="{% url 'payroll_items' %}"> Payroll Items </a></li>
								</ul>
							</li>
							<li> 
								<a href="{% url 'policies' %}"><i class="la la-file-pdf-o"></i> <span>Policies</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-pie-chart"></i> <span> Reports </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'expense_reports' %}"> Expense Report </a></li>
									<li><a href="{% url 'invoice_reports' %}"> Invoice Report </a></li>
									<li><a href="{% url 'payments_reports' %}"> Payments Report </a></li>
									<li><a href="{% url 'project_reports' %}"> Project Report </a></li>
									<li><a href="{% url 'task_reports' %}"> Task Report </a></li>
									<li><a href="{% url 'user_reports' %}"> User Report </a></li>
									<li><a href="{% url 'employee_reports' %}"> Employee Report </a></li>
									<li><a href="{% url 'payslip_reports' %}"> Payslip Report </a></li>
									<li><a href="attendance-reports.html"> Attendance Report </a></li>
									<li><a href="{% url 'leave_reports' %}"> Leave Report </a></li>
									<li><a href="{% url 'daily_reports' %}"> Daily Report </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Performance</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-graduation-cap"></i> <span> Performance </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'performance_indicator' %}"> Performance Indicator </a></li>
									<li><a href="{% url 'performance' %}"> Performance Review </a></li>
									<li><a href="{% url 'performance_appraisal' %}"> Performance Appraisal </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-crosshairs"></i> <span> Goals </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'goal_tracking' %}"> Goal List </a></li>
									<li><a href="{% url 'goal_type' %}"> Goal Type </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-edit"></i> <span> Training </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'training' %}"> Training List </a></li>
									<li><a href="{% url 'trainers' %}"> Trainers</a></li>
									<li><a href="{% url 'training_type' %}"> Training Type </a></li>
								</ul>
							</li>
							<li><a href="{% url 'promotion' %}"><i class="la la-bullhorn"></i> <span>Promotion</span></a></li>
							<li><a href="{% url 'resignation' %}"><i class="la la-external-link-square"></i> <span>Resignation</span></a></li>
							<li><a href="{% url 'taxes' %}"><i class="la la-times-circle"></i> <span>Termination</span></a></li>
							<li class="menu-title"> 
								<span>Administration</span>
							</li>
							<li> 
								<a href="{% url 'assets' %}"><i class="la la-object-ungroup"></i> <span>Assets</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-briefcase"></i> <span> Jobs </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a class="active" href="{% url 'user_dashboard' %}"> User Dasboard </a></li>
									<li><a href="{% url 'jobs_dashboard' %}"> Jobs Dasboard </a></li>
									<li><a href="{% url 'jobs' %}"> Manage Jobs </a></li>
									<li><a href="{% url 'manage_resumes' %}"> Manage Resumes </a></li>
									<li><a href="shortlist-{% url 'candidates' %}"> Shortlist Candidates </a></li>
									<li><a href="{% url 'interview_questions' %}"> Interview Questions </a></li>
									<li><a href="offer_approvals.html"> Offer Approvals </a></li>
									<li><a href="experiance-level.html"> Experience Level </a></li>
									<li><a href="{% url 'candidates' %}"> Candidates List </a></li>
									<li><a href="{% url 'schedule_timing' %}"> Schedule timing </a></li>
									<li><a href="{% url 'aptitude_result' %}"> Aptitude Results </a></li>
								</ul>
							</li>
							<li> 
								<a href="{% url 'knowledgebase' %}"><i class="la la-question"></i> <span>Knowledgebase</span></a>
							</li>
							<li> 
								<a href="{% url 'activities' %}"><i class="la la-bell"></i> <span>Activities</span></a>
							</li>
							<li> 
								<a href="{% url 'users' %}"><i class="la la-user-plus"></i> <span>Users</span></a>
							</li>
							<li> 
								<a href="{% url 'settings' %}"><i class="la la-cog"></i> <span>Settings</span></a>
							</li>
							<li class="menu-title"> 
								<span>Pages</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-user"></i> <span> Profile </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'profile' %}"> Employee Profile </a></li>
									<li><a href="{% url 'client_profile' %}"> Client Profile </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-key"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'home' %}"> Login </a></li>
									<li><a href="{% url 'register' %}"> Register </a></li>
									<li><a href="{% url 'forgot_password' %}"> Forgot Password </a></li>
									<li><a href="{% url 'otp' %}"> OTP </a></li>
									<li><a href="{% url 'lock_screen' %}"> Lock Screen </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-exclamation-triangle"></i> <span> Error Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'error_404' %}">404 Error </a></li>
									<li><a href="{% url 'error_500' %}">500 Error </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-hand-o-up"></i> <span> Subscriptions </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'subscriptions' %}"> Subscriptions (Admin) </a></li>
									<li><a href="{% url 'subscriptions_company' %}"> Subscriptions (Company) </a></li>
									<li><a href="{% url 'subscribed_companies' %}"> Subscribed Companies</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-columns"></i> <span> Pages </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'search' %}"> Search </a></li>
									<li><a href="{% url 'faq' %}"> FAQ </a></li>
									<li><a href="{% url 'terms' %}"> Terms </a></li>
									<li><a href="{% url 'privacy_policy' %}"> Privacy Policy </a></li>
									<li><a href="blank-page.html"> Blank Page </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>UI Interface</span>
							</li>
							<li> 
								<a href="{% url 'components' %}"><i class="la la-puzzle-piece"></i> <span>Components</span></a>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-object-group"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'form_basic_inputs' %}">Basic Inputs </a></li>
									<li><a href="{% url 'form_input_groups' %}">Input Groups </a></li>
									<li><a href="{% url 'form_horizontal' %}">Horizontal Form </a></li>
									<li><a href="{% url 'form_vertical' %}"> Vertical Form </a></li>
									<li><a href="{% url 'form_mask' %}"> Form Mask </a></li>
									<li><a href="{% url 'form_validation' %}"> Form Validation </a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#"><i class="la la-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="{% url 'tables_basic' %}">Basic Tables </a></li>
									<li><a href="{% url 'data_tables' %}">Data Table </a></li>
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Extras</span>
							</li>
							<li> 
								<a href="#"><i class="la la-file-text"></i> <span>Documentation</span></a>
							</li>
							<li> 
								<a href="javascript:void(0);"><i class="la la-info"></i> <span>Change Log</span> <span class="badge badge-primary ms-auto">v3.4</span></a>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="la la-share-alt"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li class="submenu">
										<a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
										<ul style="display: none;">
											<li><a href="javascript:void(0);"><span>Level 2</span></a></li>
											<li class="submenu">
												<a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
												<ul style="display: none;">
													<li><a href="javascript:void(0);">Level 3</a></li>
													<li><a href="javascript:void(0);">Level 3</a></li>
												</ul>
											</li>
											<li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
										</ul>
									</li>
									<li>
										<a href="javascript:void(0);"> <span>Level 1</span></a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">Aptitude</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
									<li class="breadcrumb-item ">Jobs</li>
									<li class="breadcrumb-item">Interviewing</li>
									<li class="breadcrumb-item active">Aptitude</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Content Starts -->
					<div class="card">
						<div class="card-body">
							<!-- <h4 class="card-title">Solid justified</h4> -->
							<ul class="nav nav-tabs nav-tabs-solid nav-justified">
								<li class="nav-item"><a class="nav-link" href="{% url 'user_dashboard' %}">Dashboard</a></li>
								<li class="nav-item"><a class="nav-link" href="user-all-{% url 'jobs' %}">All </a></li>
								<li class="nav-item"><a class="nav-link" href="saved-{% url 'jobs' %}">Saved</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'applied_jobs' %}">Applied</a></li>
								<li class="nav-item"><a class="nav-link active" href="{% url 'interviewing' %}">Interviewing</a></li>
								<li class="nav-item"><a class="nav-link" href="offered-{% url 'jobs' %}">Offered</a></li>
								<li class="nav-item"><a class="nav-link" href="visited-{% url 'jobs' %}">Visitied </a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'archived_jobs' %}">Archived </a></li>
							</ul>
						</div>
					</div>	
					
					
							<div class="quiz-wizard">
								<div class="row">
									<div class="col-md-8 offset-md-2">
										<div class="card">
									<div class="card-body">
										<div class="" id="myWizard">
											<div style="display:none;" class="navbar">
												<div class="navbar-inner">
													<ul class="nav nav-pills">
														<li class="active"><a href="#step1" data-bs-toggle="tab" data-step="1">Step 1</a></li>
														<li class=""><a href="#step2" data-bs-toggle="tab" data-step="2">Step 2</a></li>
														<li class=""><a href="#step3" data-bs-toggle="tab" data-step="3">Step 3</a></li>
														<li class=""><a href="#step4" data-bs-toggle="tab" data-step="4">Step 4</a></li>
														<li class=""><a href="#step5" data-bs-toggle="tab" data-step="5">Step 5</a></li>
														<li class=""><a href="#step6" data-bs-toggle="tab" data-step="6">Step 6</a></li>
														<li class=""><a href="#step7" data-bs-toggle="tab" data-step="7">Step 7</a></li>
														<li class=""><a href="#step8" data-bs-toggle="tab" data-step="8">Step 8</a></li>
														<li class=""><a href="#step9" data-bs-toggle="tab" data-step="9">Step 9</a></li>
														<li class=""><a href="#step10" data-bs-toggle="tab" data-step="10">Step 10</a></li>
													</ul>
												</div>
											</div>
											<form method="post" id="quiz_answer">
												<div class="tab-content pt-0">
													<div class="tab-pane active" id="step1">
														<div class="row">
															<div class="col-md-12">
																<div class="">
																	<h4 class="mb-4 text-dark"><span>1.</span> IS management has decided to rewrite a legacy customer relations system using fourth generation languages (4GLs). Which of the following risks is MOST often associated with system development using 4GLs?</h4>
																	
																	<div class="row">
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[10]">
																			<span class="checkmark"></span>
																			Inadequate screen/report design facilities
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[10]">
																			<span class="checkmark"></span>
																			Complex programming language subsets
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[10]">
																			<span class="checkmark"></span>
																			Lack of portability across operating systems
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[10]">
																			<span class="checkmark"></span>
																			Inability to perform data intensive operations
																			</label>
																		</div>
																	</div>
																</div>
																<div class="text-start mt-3">
																	<a class="btn btn-primary btn-lg next submit-btn" href="#">Next</a>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade" id="step2">
														<div class="row">
															<div class="col-md-12">
																<div class="">
																	<h4 class="mb-4 text-dark"><span>2.</span> Which of the following would be the BEST method for ensuring that critical fields in a master record have been updated properly?</h4>
																	<div class="row">
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[11]">
																			<span class="checkmark"></span>
																			Inadequate screen/report design facilities
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[11]">
																			<span class="checkmark"></span>
																			Complex programming language subsets
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[11]">
																			<span class="checkmark"></span>
																			Lack of portability across operating systems
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[11]">
																			<span class="checkmark"></span>
																			Inability to perform data intensive operations
																			</label>
																		</div>
																	</div>
																</div>
																<div class="text-start mt-3">
																	<a class="btn btn-primary btn-lg next submit-btn" href="#">Next</a>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade in " id="step3">
														<div class="row">
															<div class="col-md-12">
																<div class="">
																	<h4 class="mb-4 text-dark"><span>3.</span> Which of the following is a dynamic analysis tool for the purpose of testing software modules?</h4>
																	<div class="row">
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[12]">
																			<span class="checkmark"></span>
																			Blackbox test
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[12]">
																			<span class="checkmark"></span>
																			Desk checking
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[12]">
																			<span class="checkmark"></span>
																			Structured walk-through
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[12]">
																			<span class="checkmark"></span>
																			Design and code
																			</label>
																		</div>
																	</div>
																</div>
																<div class="text-start mt-3">
																	<a class="btn btn-primary btn-lg next submit-btn" href="#">Next</a>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade in " id="step4">
														<div class="row">
															<div class="col-md-12">
																<div class="">
																	<h4 class="mb-4 text-dark"><span>4.</span> Which of the following is MOST likely to result from a business process reengineering (BPR) project?</h4>
																	<div class="row">
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[13]">
																			<span class="checkmark"></span>
																			An increased number of people using technology
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[13]">
																			<span class="checkmark"></span>
																			Significant cost savings, through a reduction in the complexity of information technology
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[13]">
																			<span class="checkmark"></span>
																			A weaker organisational structures and less accountability
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[13]">
																			<span class="checkmark"></span>
																			Increased information protection (IP) risk will increase
																			</label>
																		</div>
																	</div>
																</div>
																<div class="text-start mt-3">
																	<a class="btn btn-primary btn-lg next submit-btn" href="#">Next</a>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade in " id="step5">
														<div class="row">
															<div class="col-md-12">
																<div class="">
																	<h4 class="mb-4 text-dark"><span>5.</span> Which of the following devices extends the network and has the capacity to store frames and act as a storage and forward device?</h4>
																	<div class="row">
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[14]">
																			<span class="checkmark"></span>
																			Gateway
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[14]">
																			<span class="checkmark"></span>
																			Repeater
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[14]">
																			<span class="checkmark"></span>
																			Bridge
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[14]">
																			<span class="checkmark"></span>
																			Router
																			</label>
																		</div>
																	</div>
																</div>
																<div class="text-start mt-3">
																	<a class="btn btn-primary btn-lg next submit-btn" href="#">Next</a>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane fade in " id="step10">
														<div class="row">
															<div class="col-md-12">
																<div class="">
																	<h4 class="mb-4 text-dark"><span>6.</span> An offsite information processing facility having electrical wiring, air conditioning and flooring, but no computer or communications equipment is a:</h4>
																	<div class="row">
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[15]">
																			<span class="checkmark"></span>
																			Cold site
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[15]">
																			<span class="checkmark"></span>
																			Warm site
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[15]">
																			<span class="checkmark"></span>
																			Dial-up site
																			</label>
																		</div>
																		<div class="col-md-6">
																			<label class="question-radio text-secondary">
																			<input type="radio" name="answer[15]">
																			<span class="checkmark"></span>
																			Duplicate processing facility
																			</label>
																		</div>
																	</div>
																</div>
																<button class="btn btn-success btn-lg submit-btn mt-3" data-bs-toggle="modal" data-bs-target="#free_question_modal" type="button">Finish</button>
															</div>
														</div>
													</div>
												</div>
											</form>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
					<!-- /Content End -->
					
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		<div class="modal question-modal" id="free_question_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered	" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="mb-0">Result for Your Questions</h3>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<div class="form-horzontal">
					<div class="col-md-12">
						<div class="text-start mb-3">
							<h3 class="mb-0">Correct Answers : <span class="text-success"><b>5</b></span></h3>
						</div>
						<div class="text-start">
							<h3 class="mb-0">Wrong Answer : <span class="text-danger"><b>1</b></span></h3>
						</div>
					</div>
				</div>
				<div class="mt-3">
				<p>Please click Next to move main menu.</p>
				<a href="{% url 'job_aptitude' %}" class="btn btn-primary btn-lg submit-btn d-block">Next</a>
			</div>
			</div>
			
		</div>
	</div>
</div>
		<!-- jQuery -->
        <script src="assets/js/jquery-3.6.0.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Select2 JS -->
		<script src="assets/js/select2.min.js"></script>
		
		<!-- Slimscroll JS -->
		<script src="assets/js/jquery.slimscroll.min.js"></script>
		
		<!-- Datatable JS -->
		<script src="assets/js/jquery.dataTables.min.js"></script>
		<script src="assets/js/dataTables.bootstrap4.min.js"></script>
		
		<!-- Custom JS -->
		<script src="assets/js/app.js"></script>
		<script>
			    $('.next').click(function(){
    var nextId = $(this).parents('.tab-pane').next().attr("id");
  $('[href="#' + nextId + '"]').tab('show');
  return false;
  
   })



$('.first').click(function(){

  $('#myWizard a:first').tab('show')

});
		</script>
    </body>
</html>