.search-result {
    @include margin-padding(0 0 30px, null);
    u {
        color: $__primarycolor;
    }
    p {
        color: $__dark__battle__gary;
        margin-bottom: 0;
    }
}
.search-lists{
    .nav-tabs{
        &.nav-tabs-solid {
            background-color: $__white;
            border: 1px solid $__metallic-silver;
        }
    }
}
.main-search {
    @include margin-padding(0 0 20px, null);
}
.small-container {
    max-width: 1100px;
    @include margin-padding(auto, 30px);
    .inner-header {
        @include margin-padding(0 0 30px, null);
    }
    .inner-content{
        .lead {
            font-size: $__font__size__20;
            font-weight: $__light;
        }
    }
}
.avatar-dropdown {
    .page-link {
        border: 0;
        width: 25px;
        text-align: $__center;
        @include rounded(0);
        @include margin-padding(null, 10px 5px);
    }
    .dropdown-menu {
        min-width: $__unset;
        width: 100px;
        @include margin-padding(null, 0);
    }
    .avatar-group {
        min-height: 88px;
        white-space: $__normal;
        @include margin-padding(null, 2px);
        .avatar {
            margin: 2px;
            @extend %display-flex;
        }
        .avatar-xs{
            & + .avatar-xs {
                margin-left: -1.25rem;
            }
        }
    }
    .avatar-pagination {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}
.roles-menu {
    @include margin-padding(20px 0, null);
    @include respond-below(custom767) {
        @include margin-padding(15px 0, null);
    }
    ul {
        background-color: $__white;
        border: 1px solid $__metallic-silver;
        @extend %ul_reset;
        li {
            display: $__block;
            position: $__relative;
            &.active a {
                border-color: $__primarycolor;
                color: $__primarycolor;
            }
            a {
                border-left: 3px solid $__transparent;
                color: $__gray;
                display: $__block;
                position: $__relative;
                @include margin-padding(null, 10px 15px);
                &:hover{
                    background-color: $__cloud__gray;
                    border-color: $__primarycolor;
                    .role-action {
                        display: $__block;
                    }
                }
            }
            .role-action {
                float: $__right;
                display: $__none;
                .action-circle {
                    background-color: $__white;
                    border: 1px solid $__goose-gray;
                    height: 24px;
                    width: 24px;
                    display: $__inline__block;
                    text-align: $__center;
                    cursor: $__pointer;
                    @include rounded(100%);
                    @include transition(all 0.3s ease);
                    .material-icons {
                        font-size: $__font__size__16;
                        vertical-align: -4px;
                        color: $__goose-gray;
                    }
                }
            }
        }
    }
}
.rating-list {
    @extend %display-flex;
    @extend %justify-content-center;
    span {
        display: $__inline__block;
        margin-right: 4px;
        a {
            background-color: $__goose-gray;
            color: $__gray;
            width: 50px;
            height: 50px;
            font-size: $__font__size__18;
            font-weight: $__semibold;
            margin-bottom: 5px;
            @extend %align-items-center;
            @include rounded(4px);
            @extend %inline-flex;
            @extend %justify-content-center;
        }
        &.rating-normal {
            text-align: $__center;
            a{
                background-color: $__rating__red;
                color: $__white;
            }
        }
        &.rating-bad {
            a{
                background-color: $__bright__golds;
                color: $__white;
            }
        }
        &.rating-good {
            text-align: $__right;
            a{
                background-color: $__dark__green;
                color: $__white;
            }
        }
    }
    .rating-text {
        font-size: $__font__size__12;
        max-width: 157px;
        display: $__inline__block;
        margin-top: 5px;
    }
}
.custom_radio {
    color: $__dark__ash__gray;
    display: $__inline__block;
    position: $__relative;
    font-size:$__font__size__14;
    cursor: $__pointer;
    user-select: $__none;
    @include margin-padding(0 0 10px, 0 0 0 30px);
    input {
        position: $__absolute;
        opacity: 0;
        &:checked{
            ~ .checkmark:after{
                opacity: 1;
            }
        }
    }
    .checkmark {
        height: 20px;
        width: 20px;
        background-color: $__white;
        border: 1px solid $__goose-gray;
        @include position($__absolute,0,null,null,0);
        @include rounded(50%);
        &:after {
            display: $__block;
            content: "";
            opacity: 0;
            width: 12px;
            height: 12px;
            background: $__cantaloupe;
            @include position($__absolute,3px,null,null,3px);
            @include rounded(50%);
            @include transition(all 0.3s ease);
        }
    }
}
.contact-cat{
    @include respond-below(custom575) {
        @include margin-padding(null,0 70px 0 15px);
    }
}
@include respond-below(custom575) {
    .contacts-list{
        @include margin-padding(null,0 70px 0 15px);
        .contact-list {
            list-style: $__none;
            padding-left: 0;
            margin: 0;
            width: $__full__width;
        }
    }   
}